<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-sx8ltKjP6O5Z7SlQp99XWdzwoUSAR5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>750310195037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pdm.educationAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>education-app-b5162</string>
	<key>STORAGE_BUCKET</key>
	<string>education-app-b5162.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750310195037:ios:8cdab57e095713ab67f2b4</string>
</dict>
</plist>